*~
*.swp
.direnv/
result
result-*
*.log

#vs code
.vscode/
.idea/

#scala
target/
.scala-build/
.bsp/
.metals/
.bloop/
*.class

#python
__pycache__/
*.pyc
.pytest_cache/

#cpp
build/

#testAuditor
testAuditor
